.center-component{
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#login > div{
    width: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px;
}
