.back{
    position: fixed;
    top: 30px;
    left: 10px;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 12px;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > #filter-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100vh;

        & > * {
            background-color: var(--main-color);
            border-radius: 8px;
            border: 1px solid black;
            margin : 5px;
        }

        & > .filter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            width: 90%;

            & > * {
                margin : 5px;
            }

            & > .price-filter{
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                width: 90%;
            }
        }
        & > button{
            padding: 10px;

            &:hover{
                background-color: black;
                color: white;
            }
        }
    }

    & > .delete-products{
        width: auto;
        flex: 4;
        max-width: 60%;

        & > .products{

            & > .product{
                width: calc(100% - 20px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: var(--main-color);
                border: 1px solid black;
                margin: 10px;

                & > img{
                    height: 120px;
                    width: 200px;
                    border: 1px solid black;
                }
                & > .character{
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 20px;

                    & > .character_num{
                        width:100%;
                    }
                    & > .product_info{
                        width:100%;
                    }

                    & > .buttons{
                        width:100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    & > .settings{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        max-width: 300px;
        margin: 30px;
        height: 100vh;
        /* padding: 20px; */
        & > * {
            margin: 10px;
        }
        & > .btn-del {
            width: 100%;
            background-color: rgb(155, 211, 0);
        }

        & > #create-product {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            padding: 10px;
            width: 100%;
           
            background-color: var(--main-color);
            border-radius: 8px;

            & > * {
                margin: 10px 5px;
            }
   
            & > div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                /* padding: 20px; */

                & > * {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                }
            }

            & > button{
                padding: 20px;
                background-color: var(--main-color);
                border: 1px solid black;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }

        }
    }
}

/*
        <div class="settings">
            <button class="btn-del" type="submit">УДАЛИТЬ ВЫБРАННЫЕ ТОВАРЫ</button>
            Добавление
            <form id="create-product" method="POST">
                <div>
                    <span>Компания</span>
                    <input type="text" name="creator" required>
                </div>
                <div>
                    <span>Название</span>
                    <input type="text" name="name" required>
                </div>
                <div>
                    <span>Цена</span>
                    <input type="number" name="price" required>
                </div>
                <div>
                    <span>Картинка</span>
                    <textarea name="url" required></textarea>
                </div>
                <button type="submit"> Добавить </button>
            </form>
        </div>
 */