
#filter{
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
}

#create{
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
}

.center-component{
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.input_info{
    display: grid;
    grid-template-columns: 100px 1fr;
}

form > div{
    margin: auto;
    display: flex;

    flex-flow: row wrap;
    /* padding: 20px;
    margin: 20px; */
}
.filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: var(--main-color);
}
.create-product{
    display: grid;
    grid-template-rows: 1fr 100px;
    /* background-color: var(--main-color); */
}
.view{
    display: grid;
    grid-template-columns: 332px 1fr;
    padding-right: 100px;
    padding-top: 50px;
    justify-content: center;
}
.filter > *{
    height: 200px;
}
.btn-del{
    font-size: 32px;
    margin: 0 104px;

    /* width: 90%; */
    margin-top: 52px;
    min-width: 573px;
    background-color: brown;
}

img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.products {
    margin: auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: center;
}

.product {
    --indentation: 20px;

    display: grid;
    grid-template-columns: 200px 200px;

    margin: calc(var(--indentation) /2);
    padding: var(--indentation);

    min-width: calc(440px - var(--indentation)*2);
    max-width: 100%;

    border: solid black 1px;
    border-radius: 12px;

    background-color: var(--main-color);
}

.product>.character {
    font-size: 20px;
    padding: auto;
    padding-right: 20px;

    display: grid;
    text-align: left;
    align-items: center;
    grid-template-rows: 20px 1fr;
}

.product>.character>div>div {
    margin-bottom: 20px;
}

.product>.character>input[type='checkbox'] {
    width: 14px;
    height: 14px;
}

.plus>form {
    display: flex;
    flex-direction: column;
    flex: 130px;
    margin: 20px
}


/* <a href="../../index.php"><button class="back"> Вернуться</button></a>
<div class="view">
    <div class="filters">
        Сортировать <a href="#" id="sort-asc">по возрастанию</a> <a href="#" id="sort-desc">по убыванию</a>
        <br>
        <div class="filter">
            Фильтр по цене
            <form id="filter-price" method="GET">
                <span>От</span> <input type="number" name="from">
                <span>До</span> <input type="number" name="to">
                <br><button type="submit"> Отфильтровать </button>
            </form>
        </div>
        <div class="filter">
            Фильтр по Компаниям
            <form id="filter-creator" method="GET">
                <select name="filt_creator">
                    <option value=""></option>
                    <!-- Опции будут заполнены через AJAX -->
                </select>
                <br><button type="submit"> Отфильтровать </button>
            </form>
        </div>
        <br>
        <div class="filter">
            Добавление
            <form id="create-product" method="POST">
                <span>Компания</span> <input type="text" name="creator" required>
                <span>Название</span> <input type="text" name="name" required>
                <span>Цена</span> <input type="number" name="price" required>
                <span>Картинка</span> <textarea name="url" required></textarea>
                <br><button type="submit"> Добавить </button>
            </form>
        </div>
    </div>
    <form id="delete-products" method="POST">
        <div class="products"> </div>
        <button class="btn-del" type="submit">УДАЛИТЬ ВЫБРАННЫЕ ТОВАРЫ!!!</button>
    </form>
</div> */